*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100px;
  display: grid;
  align-self: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.header h2 {
  color: white;
  display: flex;
  text-transform: capitalize;
}

.nav {
  background-color: yellow;
}

.header-aviva {
  display: flex;
  flex-direction: column;

  padding-left: 250px;
  padding-right: 250px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.nav ul li {
  padding-left: 10px;
}

td,
th {
  border: 2px solid red;
  padding-left: 220px;
}

table {
  border-collapse: collapse;
}

tfoot {
  text-align: right;
  line-height: 25px;
}

tbody tr {
  line-height: 25px;
}

.section-about-center {
  padding-left: 250px;
  padding-right: 250px;
  text-align: justify;
  padding-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
}

.button button {
  padding: 5px 30px 5px 30px;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 0px;
}

.go-down {
  text-decoration: underline;
}

.tables {
  justify-content: center;
  padding-left: 250px;
  background-color: rgb(8, 8, 70);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pavarde-padding {
  padding-right: 150px;
}

.contacts {
  padding-left: 250px;
  padding-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

footer {
  display: flex;
  background-color: yellowgreen;
  justify-content: center;
}
